on:
  pull_request:
  push:
    branches:
      - 8.x
      - try/**
    tags-ignore:
      - v*.*.*

name: Checks & Tests

env:
  CARGO_TERM_COLOR: always
  CARGO_UNSTABLE_SPARSE_REGISTRY: "true"

jobs:
  check-and-test:
    strategy:
      matrix:
        platform:
          - ubuntu
          - windows
          - macos
        toolchain:
          - stable
          - 1.60.0

    name: Test on ${{ matrix.platform }} with ${{ matrix.toolchain }}
    runs-on: "${{ matrix.platform }}-latest"

    steps:
      - uses: actions/checkout@v3
      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}
          rustup component add clippy

      - name: Check
        run: cargo check

      - name: Install
        run: cargo install --debug --path .

      - name: Test
        run: cargo test

      - name: Clippy
        if: matrix.toolchain == 'stable'

  check-only:
    strategy:
      matrix:
        target:
          - x86_64-unknown-freebsd
          - x86_64-unknown-linux-musl
          - armv7-unknown-linux-gnueabihf
          - aarch64-unknown-linux-gnu
          - aarch64-apple-darwin
          - aarch64-pc-windows-msvc
        include:
          - target: x86_64-unknown-freebsd
            platform: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            platform: ubuntu-latest
          - target: armv7-unknown-linux-gnueabihf
            platform: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            platform: ubuntu-latest
          - target: aarch64-apple-darwin
            platform: macos-latest
          - target: aarch64-pc-windows-msvc
            platform: windows-latest

    name: Check only for ${{ matrix.target }}
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update --target ${{ matrix.target }} stable
          rustup default stable
      - name: Check
        run: cargo check --target ${{ matrix.target }}

